BECring-local/                                                                                           
BECring/                                                                                                 
M-LOOP/                                                                                                  
M-LOOP_archives/                                                                                         
M-LOOP_logs/                                                                                             
M-LOOP_plots/                                                                                            
XMDS2/becring/                                                                                           
XMDS2/examples/                                                                                          
XMDS2/groundstate/groundstate                                                                            
XMDS2/groundstate/groundstate-data/                                                                      
XMDS2/groundstate/groundstate.cc                                                                         
XMDS2/groundstate/groundstate.h5                                                                         
XMDS2/groundstate/groundstate.xsil                                                                       
XMDS2/groundstate/groundstate_break.xsil                                                                 
XMDS2/linux_installer.sh                                                                                 
XMDS2/mloop/                                                                                             
XMDS2/nlse-test/                                                                                         
becring_config.txt                                                                                       
git/                                                                                                     
notes/
param_names.txt
plot.gpi
plotprep.py
run_sim.sh
xmds_opt_config.txt
